/* 머리말 */
h1 {
  text-align: center;
  font-family: Merienda, cursive;
}

a {
  text-decoration: none;
}

/* 영화 소개 */
.movie {
  background-color: #bcf4bc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 50px;
  width: 500px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.movie .title {
  font-family: 'Courgette', cursive;
}

/* 영화 포스터 */
.movie .poster {
  width: 50%;
}