/* 머리말 */
h1 {
  text-align: center;
}

/* 영화 소개 */
.movie {
  background-color: blueviolet;
  margin-bottom: 50px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* 영화 제목 */
.movie .title {
  text-align: center;
}

/* 영화 포스터 */
.movie .poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}